services:
    sqlserver:
        image: mcr.microsoft.com/mssql/server:2022-latest
        container_name: sqlserver
        environment:
            SA_PASSWORD: "AS@admin"
            ACCEPT_EULA: "Y"
            MSSQL_PID: "Developer"
        ports:
            - "1433:1433"
        healthcheck:
            test: ["CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P 'AS@admin' -C -Q 'SELECT 1' || exit 1"]
            interval: 10s
            timeout: 5s
            retries: 5
    as.users.api:
        container_name: as.users.api
        image: ${DOCKER_REGISTRY-}asusersapi
        build:
            context: .
            dockerfile: AS.Users.API/Dockerfile
        depends_on:
            sqlserver:
                condition: service_healthy
        environment:
            ASPNETCORE_ENVIRONMENT: Development
            ConnectionStrings__DefaultConnection: "Server=sqlserver;Database=ASUsersDB;User Id=sa;Password=AS@admin;TrustServerCertificate=true"
        restart: on-failure